- var sortedFiles = _.orderBy(files,function(f){return new Date(f.meta.date)},'desc')

each file in sortedFiles
	- if (file.meta.category == "blog" && !file.meta.isIndex)
		.box
			h1!= file.meta.pagetitle
			small!= file.meta.date
			- if (file.meta.summary)
					.article-body
						p!= file.meta.summary
			- else
				.article-body!= file.contents
			.level.is-mobile
				.level-left
				.level-right
					a.level-item.button.is-primary(href=file.meta.permalink)
						.icon
							i.fa.fa-book
						span Read
