- var sortedFiles = _.orderBy(files,function(f){return new Date(f.meta.date)},'desc')

each file in sortedFiles
	- if (file.meta.category == "blog" && !file.meta.isIndex)
		.box
			h1!= file.meta.pagetitle
			if file.meta.date
					small.dt-published= file.meta.date
			small
					a(href=file.meta.permalink) &nbsp;&nbsp;Permalink
			- if (file.meta.summary)
					.article-body
						p!= file.meta.summary
			- else
				.article-body!= file.contents
			.level.is-mobile
				.level-left
				.level-right
					a.level-item.button.is-primary(href=file.meta.permalink)
						span.icon 📓&#xFE0E;
						span Read
