html(lang="en")

  head
    link(rel="stylesheet" href="../../css/page.css" type="text/css")
    title!= "Drew's Blog - "+post.title
    link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
  body
    #barba-wrapper
      .post-body.barba-container
          h1= post.title
          h2.post-date= ""+['January','February','March','April','June','July','August','September','October','November','December'][post.date.getMonth()] + ' ' + post.date.getDate() + ', ' +(post.date.getYear() + 1900)
          | !{post.contents}
          .navigation
            if post.previous
              a.in-blog.previous.enabled(href=post.previous.href)
                i.material-icons arrow_back
                span= post.previous.title
            else
              a.previous.disabled
            if post.next
              a.in-blog.next.enabled(href=post.next.href)
                span= post.next.title
                i.material-icons arrow_forward
            else
              a.next.disabled
    script(src="https://cdn.rawgit.com/luruke/barba.js/master/dist/barba.min.js")
    script(src="/js/vendor/jquery-1.11.2.min.js")
    script(src="/js/blog-transition.js")