.hero
    nav.nav.has-shadow
        .container
            .nav-left
                a.logo.nav-item(href="/")= title
            #nav-toggle.nav-toggle
                span
                span
                span
            #nav-menu.nav-right.nav-menu
                a.nav-item.is-tab(
                        class=category=="blog"?"is-active":"",
                        href="/blog")
                    span
                    span.icon
                        i.fa.fa-book
                    span &nbsp;Blog
                a.nav-item.is-tab(
                        class=category=="games"?"is-active":"",
                        href="/games")
                    span.icon
                        i.fa.fa-gamepad
                    span  &nbsp;Games
                a.nav-item.is-tab(
                        class=category=="music"?"is-active":"",
                        href="/music")
                    span.icon
                        i.fa.fa-music
                    span &nbsp;Music
                a.nav-item.is-tab(
                        class=category=="misc"?"is-active":"",
                        href="/misc")
                    span.icon
                        i.fa.fa-code
                    span &nbsp;Misc Projects
if category && isIndex
    .hero.is-bold.is-primary
        h1= category.charAt(0).toUpperCase()+category.slice(1)