.hero
    nav.nav.has-shadow
        .container
            span.nav-left
                a.logo.nav-item(href="/")= title+' 🍕'
            #nav-toggle.nav-toggle
                span
                span
                span
            span#nav-menu.nav-right.nav-menu
                a.nav-item.is-tab(
                        class=category=="blog"?"is-active":"",
                        href="/blog")
                    span.icon 📓&#xFE0E;
                    span &nbsp;Blog&nbsp;
                a.nav-item.is-tab(
                        class=category=="games"?"is-active":"",
                        href="/games")
                    span.icon 🎮&#xFE0E;
                    span  &nbsp;Games&nbsp;
                a.nav-item.is-tab(
                        class=category=="music"?"is-active":"",
                        href="/music")
                    span.icon 🎶&#xFE0E;
                    span &nbsp;Music&nbsp;
                a.nav-item.is-tab(
                        class=category=="misc"?"is-active":"",
                        href="/misc")
                    span.icon 🔗&#xFE0E;
                    span &nbsp;Misc Projects&nbsp;
if category && isIndex
    .hero.is-bold.is-primary
        h1= category.charAt(0).toUpperCase()+category.slice(1)
else
    .sidekick
