<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title= title
        <link rel="stylesheet" href="/bulma.min.css">
    body 
        a#light-toggle.button.is-warning(title="toggle light/dark")
            span.light-mode-icon
            span#light-mode-txt
        div &nbsp; # this is just a lil spacer
        .hero
            .hero-body
                h1.title.is-1.has-text-centered=title
        .main-outer
            .main-inner
                .section
                    section.block
                        h4.title.is-4 About 
                        p.content!= about
                    section.block
                        h4.title.is-4 Links/Contact
                        p.content
                            each link in links
                                a(href=link.url)!= link.text
                                br
                            a(onclick="setTimeout(()=>{var addr=[100,102,104,97,114,119,101,108,108,64,103,109,97,105,108,46,99,111,109].map(n=>String.fromCharCode(n)).join('');this.href=('mailto:'+addr);this.textContent=addr},1)") Click to reveal Email
                .section
                    h4.title.is-4 Web Tools and Utilities
                    each site in sites
                        section.block
                            .card
                                .card-header
                                    a.card-header-title.title.is-4(href=site.url)= site.title                           
                                a.card-image(href=site.url)
                                    img(src="screenshots/"+site.title+".jpg").image.is-fullwidth
                                .card-content
                                    .block   
                                        .tags
                                            each s in site.tech 
                                                .tag= s
                                    p!= site.description
        if dev
            <script>document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] +':35729/livereload.js?snipver=1"></' + 'script>')</script>
        style
            | :root{
            |                /*removing Inter because firefox mobile uses Inter Thin which is unreadable :/ */
            |       --bulma-body-family: SF Pro, Segoe UI, Roboto, Oxygen, Ubuntu, Helvetica Neue, Helvetica, Arial, sans-serif           
            | }
            | html{
            |   background-image: url("bg.webp");
            |   animation: 120s infinite linear slide;
            | }
            | @media (prefers-reduced-motion) {
            |     html {
            |         animation: none;
            |     }
            | }
            | @media (prefers-color-scheme: dark){
            |   html{background-image: url("bg-dark.webp");}
            | }
            | html[data-theme="dark"]{
            |   background-image: url("bg-dark.webp") !important;
            | }
            | .light-mode-icon{
            |  display: inline-block;
            |  width: 24px;
            |  height: 24px;
            |  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cg fill='none' stroke='%23000' stroke-linecap='round' stroke-linejoin='round' stroke-width='2'%3E%3Cpath d='M9.173 14.83a4 4 0 1 1 5.657-5.657'/%3E%3Cpath d='m11.294 12.707l.174.247a7.5 7.5 0 0 0 8.845 2.492A9 9 0 0 1 5.642 18.36M3 12h1m8-9v1M5.6 5.6l.7.7M3 21L21 3'/%3E%3C/g%3E%3C/svg%3E");
            |  background-color: currentColor;
            |  -webkit-mask-image: var(--svg);
            |  mask-image: var(--svg);
            |  -webkit-mask-repeat: no-repeat;
            |  mask-repeat: no-repeat;
            |  -webkit-mask-size: 100% 100%;
            |  mask-size: 100% 100%;
            | }
            | html[data-theme="light"] .light-mode-icon{
            |  display: inline-block;
            |  width: 24px;
            |  height: 24px;
            |  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='none' stroke='%23000' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M8 12a4 4 0 1 0 8 0a4 4 0 1 0-8 0m-5 0h1m8-9v1m8 8h1m-9 8v1M5.6 5.6l.7.7m12.1-.7l-.7.7m0 11.4l.7.7m-12.1-.7l-.7.7'/%3E%3C/svg%3E");
            |  background-color: currentColor;
            |  -webkit-mask-image: var(--svg);
            |  mask-image: var(--svg);
            |  -webkit-mask-repeat: no-repeat;
            |  mask-repeat: no-repeat;
            |  -webkit-mask-size: 100% 100%;
            |  mask-size: 100% 100%;
            | }
            | html[data-theme="dark"] .light-mode-icon{
            |  display: inline-block;
            |  width: 24px;
            |  height: 24px;
            |  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='none' stroke='%23000' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M12 3h.393a7.5 7.5 0 0 0 7.92 12.446A9 9 0 1 1 12 2.992z'/%3E%3C/svg%3E");
            |  background-color: currentColor;
            |  -webkit-mask-image: var(--svg);
            |  mask-image: var(--svg);
            |  -webkit-mask-repeat: no-repeat;
            |  mask-repeat: no-repeat;
            |  -webkit-mask-size: 100% 100%;
            |  mask-size: 100% 100%;
            | }
            | html[data-theme="light"]{
            |   background-image: url("bg.webp") !important;
            | }
            | @keyframes slide {
            | from {
            |   background-position: 0 0;
            | }
            | 
            | to {
            |   background-position: 1008px 2016px;
            | }
            | }
            | .main-outer{
            |   display: flex;
            |   justify-content:space-around;  
            | }
            | .main-inner{
            |   max-width: 800px;               
            | }
            | #light-toggle{
            |   position:absolute;
            |   top:1em;
            |   right:1em; 
            | }
        script 
            | document.documentElement.setAttribute('data-theme',localStorage['theme']||'');
            //- | document.getElementById('light-mode-txt').innerHTML = localStorage['theme']||'';
            | document.getElementById('light-toggle').addEventListener('click',function(){
            |     var theme = '';
            |     if (document.documentElement.getAttribute('data-theme') == 'dark'){
            |       theme='light'
            |     } else if (document.documentElement.getAttribute('data-theme') == 'light') {
            |       theme=''
            |     } else {
            |          theme='dark'
            |     }
            |     localStorage['theme']=theme;
            |     document.documentElement.setAttribute('data-theme',theme);
            //- |     document.getElementById('light-mode-txt').innerHTML = theme;
            | })
